<template>
    <div v-if="tweets" class="container">
        <div v-for="tweet in tweets" class="tweet">

            <div class="div-avatar">
                <img class="avatar" :src="tweet.profile_image" alt="Twitter avatar" >
            </div>

            <div class="right-side">
                <div class="tweet-header">
                    <span @click="openUserTwitter(tweet.screen_name)" class="name">{{ tweet.name }}</span>
                    <span class="screen-name">@{{ tweet.screen_name }}</span>
                    <span class="tweet-datetime"><small>{{ tweet.created_at }}</small></span>
                </div>

                <div class="tweet-main">
                    <span @click="openTweet(tweet.screen_name, tweet.tweet_id)" class="tweet-text">{{ tweet.text }}</span>
                </div>

                <div class="tweet-footer">
                    <i class="icon-retweet">{{ tweet.retweet_count }}</i>
                    <i class="icon-heart">{{ tweet.favorite_count }}</i>
                </div>
            </div>

        </div>
    </div>
</template>

<script>
    export default {
        name: "twitter-component",

        data() {
            return {
                tweets: [],
                name: 'muse',
                count: 5
            }
        },

        beforeMount() {
            this.getTimeline();
            this.setTimelineInterval(10);
        },

        beforeDestroy() {
            clearInterval(this.interval)
        },

        methods: {
            getTimeline() {
                axios.get('/twitter/timeline/' + this.name + '/' + this.count)
                    .then(response => (this.tweets = response.data[0]))
                    .catch(error => {
                        console.log('error');
                        this.tweets = [];
                    })
            },

            setTimelineInterval(seconds) {
                this.interval = setInterval(() => {
                    this.getTimeline();
                }, (seconds * 1000))
            },

            openTweet(screen_name, tweet_id) {
                window.open('https://twitter.com/'+screen_name+'/status/'+tweet_id, '_blank');
            },

            openUserTwitter(screen_name) {
                window.open('https://twitter.com/'+screen_name, '_blank');
            }
        },
    }
</script>

<style scoped>
    .tweet{
        background: #fff;
        border-radius: 2px;
        display: flex;
        height: 62px;
        margin: 0.5rem;
        position: relative;
        width: 100%;
        padding: 10px;
        overflow: hidden;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    }

    .tweet:hover{
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        height: 100px;
    }

    .tweet-header{
        display: block;
    }

    .name{
        font-weight: bold;
        font-size: 0.9em;
    }

    .name:hover{
        color: #00acee;
        cursor: pointer;
    }

    .screen-name{
        color: #495057;
        font-size: 0.9em;
    }

    .tweet-main{
        padding-top: 5px;
        font-size: 0.9em;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        cursor: pointer;
    }

    .avatar{
        border-radius: 50%;
        width: 48px;
        height: 48px;
        margin-right: 10px;
    }

    .tweet-footer{
        font-size: 0.8em;
        color: #495057;
        margin-top: 10px;
    }

    .icon-heart{
        margin-left: 10px;
    }

    .tweet-datetime{
        float: right;
        font-size: 0.7em;
        color: #495057;
    }

    .right-side {
        margin-left: 10px;
    }

</style>